.home-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 80vw;
    height: 100vh;
    cursor: pointer;
  }
  
  .logo {
    max-width: 80%;
    height: auto;
  }

  .site-intro {
    text-align: center;
    font-size: 40px;
  }
  
  @media only screen and (max-width: 750px) {
    .logo {
      width: 100%;
    }

    .site-intro {
      font-size: 20px;
    }
    
    .home-container {
      height: 100vh;
    }
  }