
.image-card {
  position: relative;
  display: inline-block;
  margin: 10px;
  transition: all 0.3s ease;
  cursor: pointer;
}

.transcription {
font-style: italic;
}

@media only screen and (min-width: 600px) {
  .image-card img {
    width: 750px;
    height: 471px;
    display: block;
  }
  
  .overlay {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.8);
    color: white;
    width: 750px;
    height: 471px;
    text-align: center;
  }

  .overlay-text {
    padding: 16px;
  }
}

@media only screen and (max-width: 600px) {
  .image-card img {
    width: 300px;
    height: 188px;
    display: block;
  }
}