
.image-card {
  position: relative;
  display: inline-block;
  margin: 10px;
  transition: all 0.3s ease;
  cursor: pointer;
}

.transcription {
font-style: italic;
}

@media only screen and (min-width: 600px) {
  .image-card {
    object-fit: cover;
    overflow: hidden;
    display: inline-block;
    width: 30rem;
    height: fit-content;
  }
  
  img {
    display: block;
    height: auto;
    width: 100%;
  }


  .overlay {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.87);
    color: white;
    width: 100%;
    height: 100%;
    text-align: center;
  }

  .overlay-text {
    padding: 16px;
  }
}

@media only screen and (max-width: 600px) {
  .image-card img {
    width: 30rem;
    display: block;
  }

  .overlay {
    display: none;
  }
}